django
gunicorn
whitenoise
django-storages 
google-cloud-storage
dotenv
bs4
requests
langchain
openai
langchain-groq
groq
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
langchain-community
psycopg2-binary