django
gunicorn
whitenoise
django-storages 
google-cloud-storage
python-dotenv
beautifulsoup4
requests
langchain
openai
langchain-groq
groq
google-search-results
langchain_community
google-api-python-client
duckduckgo-search
youtube-transcript-api
Pillow
google-generativeai
reportlab
nltk
langchain-community
psycopg2-binary
dj-database-url