django
gunicorn
whitenoise
django-storages 
google-cloud-storage
python-dotenv
beautifulsoup4
requests
langchain
openai
langchain-groq
groq
nltk
langchain-community
psycopg2-binary
dj-database-url